[submodule "yolo-9000"]
	path = yolo-9000
	url = git@github.com:philipperemy/yolo-9000.git
[submodule "tensorflow-yolov4-tflite"]
	path = tensorflow-yolov4-tflite
	url = git@github.com:goar5670/tensorflow-yolov4-tflite.git
